@layer tailwind-base, primereact, tailwind-utilities;

@import 'primereact/resources/themes/saga-blue/theme.css' layer(primereact);
@import 'primeicons/primeicons.css';

@layer tailwind-base {
	@tailwind base;
}

@layer tailwind-utilities {
	@tailwind components;
	@tailwind utilities;
}

body {
	font-family: 'Times New Roman', Times, serif;
}

.input-style .p-inputtext,
.input-style .p-dropdown,
.input-style .p-calendar,
.input-style .p-inputnumber-input {
  background-color: #e5e7eb; /* Tailwind bg-gray-200 */
  color: #111827; /* Tailwind text-gray-900 */
  border-color: #9ca3af; /* Tailwind border-gray-400 */
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}

.input-style .p-inputtext:focus,
.input-style .p-dropdown:focus,
.input-style .p-calendar:focus,
.input-style .p-inputnumber-input:focus {
  outline: none;
  border-color: #14b8a6; /* teal-500 */
  box-shadow: 0 0 0 2px #99f6e4;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 1s ease forwards;
}
