/* body {
  margin: 0;
  font-family: 'Times New Roman'
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;

} */


body {
  font-family: 'Times New Roman';
  font-weight:200 ;
}
